<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">
        {{ modo === 'crear' ? 'Crear Categoría' : 'Editar Categoría' }}
      </mat-card-title>
    </mat-card-header>
  
    <mat-card-content class="b-t-1">
      <form [formGroup]="categoriaForm" (ngSubmit)="guardar()">
        <div class="row">
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Nombre</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Nombre" formControlName="nombre" />
            </mat-form-field>
          </div>
  
          <div class="col-lg-6">
            <mat-label class="f-w-600 m-b-8 d-block">Descripción</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Descripción" formControlName="descripcion" />
            </mat-form-field>
          </div>
        </div>
  
        <div class="m-t-12">
          <button mat-flat-button color="primary" type="submit" [disabled]="categoriaForm.invalid">
            {{ modo === 'crear' ? 'Crear' : 'Guardar' }}
          </button>
          <button mat-stroked-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </mat-card-content>
</mat-card>  