<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="login-logo">
            <img src="https://img.freepik.com/vector-premium/logotipo-tienda-linea-comercio-electronico_1199645-37307.jpg"
                alt="Logo E-commerce"
                class="logo-responsive">
          </div>

          <form class="m-t-30" [formGroup]="form" (ngSubmit)="login()" >
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Usuario</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName = "username"/>
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName = "password" />
            </mat-form-field>

            <button mat-flat-button color="primary" class="w-100" type = "submit" [disabled]="form.invalid" >
              Inciar secion
            </button>
            <!-- input -->
          </form>
          <span class="d-block f-w-500 text-center m-t-24">Eres nuevo en Ecommerce?
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Registrarme</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div> 
  </div>
</div>