<div class="table-wrapper">
    <!-- Campo de búsqueda -->
    <div class="table-header">
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar usuarios" />
      </mat-form-field>
  
      <!-- Visible solo para administradores -->
  <div>
    <button mat-raised-button color="primary">Agregar usuario</button>
    <!-- otras funciones exclusivas del admin -->
  </div>
       
    </div>
  
    <!-- Tabla -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Imagen -->
        <!-- <ng-container matColumnDef="imagen">
          <th mat-header-cell *matHeaderCellDef> Imagen </th>
          <td mat-cell *matCellDef="let element">
            <img [src]="element.imagen" alt="Imagen del producto" width="50" />
          </td>
        </ng-container> -->
  
        <!-- ID -->
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
          </ng-container> -->

          <!-- Nombre -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
        </ng-container>
  
        <!-- Descripción -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container>
  
        <!-- Stock -->
        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
          <td mat-cell *matCellDef="let element"> {{ element.rol }} </td>
        </ng-container>
  
        <!-- Fecha de creación -->
        <!-- <ng-container matColumnDef="fecha_creacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
          <td mat-cell *matCellDef="let element"> {{ element.fecha_creacion | date }} </td>
        </ng-container> -->
  
        <!-- Acciones -->
        <!-- <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="edi(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminarProducto(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container> -->
  
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>
    </div>
  
    <!-- Paginador -->
    <div class="table-footer">
      <mat-paginator
        [length]="totalRegistros"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
