<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
        
          <!-- login.component.html -->
          <div class="login-logo">
            <img src="https://img.freepik.com/vector-premium/logotipo-tienda-linea-comercio-electronico_1199645-37307.jpg"
                alt="Logo E-commerce"
                class="logo-responsive">
          </div>

          <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nombre de usuario</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="username" />
            </mat-form-field>
          
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Correo electrónico</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" formControlName="email" />
            </mat-form-field>
          
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" />
            </mat-form-field>
          
            <!-- Botón que envía el formulario -->
            <button mat-flat-button color="primary" class="w-100" type="submit">
              Registrarme
            </button>
          </form>          
          <span class="d-block f-w-500 text-center m-t-24">Ya tienes una cuenta?

            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Iniciar sesion</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>